<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>To-do List</title>

  <script src="https://unpkg.com/vue"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

</head>
<body>

  <div id="todo">

  <section class="box">

    <input type="checkbox">
    <input v-model="newTodo" @keyup.enter="addTodo" placeholder="enter a task">
    <button>Clear All</button>

  </section>

  <section class="todoList">

    <ul>
      <li v-for="todo in todos">

        <input type="checkbox">
        <input type="text">
        <label>{{todo}}</label>
        <button>x</button>

      </li>
    </ul>

  </section>

  </div>
  <script>

  "use strict";

  new Vue({

    el: "#todo",

    data: {
      newTodo: "",
      todos: [
        {
          text: "Demo todo",
          checked: false
        }
      ]
    },
    methods: {
      addTodo: function () {
        var todo = this.newTodo.trim();
        if (todo) {
          this.todos.push({text: todo, checked: false});
          this.newTodo = "";
        }
      }
    }
  });

  </script>

</body>
</html>
