<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <script src="https://unpkg.com/vue"></script>

</head>
<body>
  <div id="app">
    <h1>ToDo App</h1>
    <todo-box @todo="addTodo"></todo-box>
    <todo-list :tod="todos"></todo-list>
  </div>

  <script>

   Vue.component('todo-list', {
    props: ['tod'],
    template: '<ul><li v-for="todo in tod" v-if="todo" v-on:click="removeTodo">' +
    '{{todo}}' +
    '</li></ul>'
   })

    Vue.component('todo-box', {
      template: '<form @submit.prevent="event"> <input type="text" v-model="newTodo" placeholder="type something">' +
      '<input type="submit" value="Add" v-on:click="removeTodo"></form>',
      data: function() {
        return {
          newTodo: ''
        }
      },
      methods: {
        event: function() {
          this.$emit('todo', this.newTodo);
          this.newTodo = ''
        }
      }
    });

    new Vue({
      el: '#app',
      data: {
        'todos': []
      },
      methods: {
        addTodo: function(todo) {
          this.todos.push(todo);
        },
        removeTodo: function(todo) {
          alert('hi')
          this.todos.splice(todo, 1);
        }
      }
    });
  </script>
</body>
</html>
